/bootstrap/compiled.php
/bootstrap/start.php
/app/config/local
/public/bower_components
/vendor
composer.phar
composer.lock
.bowerrc
.gitattributes
_ide_helper.php
CONTRIBUTING.md
.env.*.php
.env.php
.DS_Store
Thumbs.db


.idea
/app/lib/Utility.php